<h1 class="rounded">Hello, my name is Ari Alan Pérez Romero</h1>

<p id="notice"><%= notice %></p>

<div class="container container-fluid">
  <div class="row">
    <div class="col">
      <h3 class="mycenter">Knowledge</h3>
    </div>
  </div>

  <div class="row">
    <div class="col">
      · iOS Developer  
    </div>
    <div class="col">
      · Android Developer
    </div>
    <div class="col">
      · Web Developer
    </div>
    <div class="col">
      · Full Stack Engineer
    </div>
    <div class="col">
      · Mobile Application Developer
    </div>    
  </div>

  <div class="row">
    <div class="col">
      <h3 class="mycenter">Works</h3>
    </div>
  </div>

  <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
    <% @presentations.each do |presentation| %>
      <div class="col">
        <div class="card" style="background-color:#55595c;">
          <div class="card-title text-center card-bg-white rounded" style="width:100%;">
            <%= presentation.title %>
          </div>
          <a href="<%= presentation.subtitle %>">
            <img src="<%= presentation.image %>" class="card-img-top fullsize" alt="..." />
          </a>
          <div class="card-body rounded card-bg-white">
            <p class="card-text">
              <%= presentation.content %>
            </p>
            <div class="d-flex justify-content-between align-items-center">
              <div class="btn-group">
                <%= link_to 'Details', presentation, :class => "btn btn-outline-dark", :onmouseout => "this.style.color='black';", :onmouseover => "this.style.color='white';" %>
                <%= link_to 'Edit', edit_presentation_path(presentation), :class => "btn btn-outline-dark", :onmouseout => "this.style.color='black';", :onmouseover => "this.style.color='white';" %>
                <%= link_to 'Delete', presentation, method: :delete, data: { confirm: 'Are you sure to Delete card?' }, :class => "btn btn-outline-dark", :onmouseout => "this.style.color='black';", :onmouseover => "this.style.color='white';" %>
              </div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>

  <br>
  
  <div class="row mycenter" style="padding-bottom:50px;">
    <%= link_to 'New Post', new_presentation_path, :class => "btn btn-outline-light", :style => "border: 1px solid black" %>
  </div>
</div>


