<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @presentation.title %>
</p>

<p>
  <strong>Subtitle:</strong>
  <%= @presentation.subtitle %>
</p>

<p>
  <strong>Content:</strong>
  <%= @presentation.content %>
</p>

<p>
  <strong>Image:</strong>
  <%= @presentation.image %>
</p>

<%= link_to 'Edit', edit_presentation_path(@presentation) %> |
<%= link_to 'Back', presentations_path %>
